[project]
	description = OpenStack Orchestration (Heat)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ronnie Rasouli (rrasouli)
[access "refs/for/refs/*"]
	read = group user/Ronnie Rasouli (rrasouli)
	push = group user/Ronnie Rasouli (rrasouli)
	label-Code-Review = -2..+2 group user/Ronnie Rasouli (rrasouli)
	label-Verified = -1..+1 group user/Ronnie Rasouli (rrasouli)
	rebase = group user/Ronnie Rasouli (rrasouli)
	removeReviewer = group user/Ronnie Rasouli (rrasouli)
	submit = group user/Ronnie Rasouli (rrasouli)
[access "refs/heads/*"]
	read = group user/Ronnie Rasouli (rrasouli)
	create = group user/Ronnie Rasouli (rrasouli)
	push = +force group user/Ronnie Rasouli (rrasouli)
	pushMerge = group user/Ronnie Rasouli (rrasouli)
[access "refs/tags/*"]
	push = group user/Ronnie Rasouli (rrasouli)
	push = +force group user/Ronnie Rasouli (rrasouli)
